@page
@model appCore.Pages.EditModel

<h4>Aplicacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Aplicacao.Nome" class="control-label"></label>
                <input asp-for="Aplicacao.Nome" class="form-control" />
                <span asp-validation-for="Aplicacao.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Url" class="control-label"></label>
                <input asp-for="Aplicacao.Url" class="form-control" />
                <span asp-validation-for="Aplicacao.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Datainicio" class="control-label"></label>
                <input asp-for="Aplicacao.Datainicio" class="form-control" />
                <span asp-validation-for="Aplicacao.Datainicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Datafinal" class="control-label"></label>
                <input asp-for="Aplicacao.Datafinal" class="form-control" />
                <span asp-validation-for="Aplicacao.Datafinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Idusuarioinicio" class="control-label"></label>
                <input asp-for="Aplicacao.Idusuarioinicio" class="form-control" />
                <span asp-validation-for="Aplicacao.Idusuarioinicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Idusuariofim" class="control-label"></label>
                <input asp-for="Aplicacao.Idusuariofim" class="form-control" />
                <span asp-validation-for="Aplicacao.Idusuariofim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Pagsegurotoken" class="control-label"></label>
                <input asp-for="Aplicacao.Pagsegurotoken" class="form-control" />
                <span asp-validation-for="Aplicacao.Pagsegurotoken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Layoutchoose" class="control-label"></label>
                <input asp-for="Aplicacao.Layoutchoose" class="form-control" />
                <span asp-validation-for="Aplicacao.Layoutchoose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Posicao" class="control-label"></label>
                <input asp-for="Aplicacao.Posicao" class="form-control" />
                <span asp-validation-for="Aplicacao.Posicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Mailuser" class="control-label"></label>
                <input asp-for="Aplicacao.Mailuser" class="form-control" />
                <span asp-validation-for="Aplicacao.Mailuser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Mailpassword" class="control-label"></label>
                <input asp-for="Aplicacao.Mailpassword" class="form-control" />
                <span asp-validation-for="Aplicacao.Mailpassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Mailserver" class="control-label"></label>
                <input asp-for="Aplicacao.Mailserver" class="form-control" />
                <span asp-validation-for="Aplicacao.Mailserver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Mailport" class="control-label"></label>
                <input asp-for="Aplicacao.Mailport" class="form-control" />
                <span asp-validation-for="Aplicacao.Mailport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Issecure" class="control-label"></label>
                <input asp-for="Aplicacao.Issecure" class="form-control" />
                <span asp-validation-for="Aplicacao.Issecure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Pagefacebook" class="control-label"></label>
                <input asp-for="Aplicacao.Pagefacebook" class="form-control" />
                <span asp-validation-for="Aplicacao.Pagefacebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Pagelinkedin" class="control-label"></label>
                <input asp-for="Aplicacao.Pagelinkedin" class="form-control" />
                <span asp-validation-for="Aplicacao.Pagelinkedin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Pageinstagram" class="control-label"></label>
                <input asp-for="Aplicacao.Pageinstagram" class="form-control" />
                <span asp-validation-for="Aplicacao.Pageinstagram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Pagetwitter" class="control-label"></label>
                <input asp-for="Aplicacao.Pagetwitter" class="form-control" />
                <span asp-validation-for="Aplicacao.Pagetwitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Pagepinterest" class="control-label"></label>
                <input asp-for="Aplicacao.Pagepinterest" class="form-control" />
                <span asp-validation-for="Aplicacao.Pagepinterest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Pageflicker" class="control-label"></label>
                <input asp-for="Aplicacao.Pageflicker" class="form-control" />
                <span asp-validation-for="Aplicacao.Pageflicker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Lotipo" class="control-label"></label>
                <input asp-for="Aplicacao.Lotipo" class="form-control" />
                <span asp-validation-for="Aplicacao.Lotipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Ogleadsense" class="control-label"></label>
                <input asp-for="Aplicacao.Ogleadsense" class="form-control" />
                <span asp-validation-for="Aplicacao.Ogleadsense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Isactivea" class="control-label"></label>
                <input asp-for="Aplicacao.Isactivea" class="form-control" />
                <span asp-validation-for="Aplicacao.Isactivea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aplicacao.Header" class="control-label"></label>
                <input asp-for="Aplicacao.Header" class="form-control" />
                <span asp-validation-for="Aplicacao.Header" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Aplicacao.Aplicacaoid" />
            <div class="form-group">
                <label asp-for="Aplicacao.Isactive" class="control-label"></label>
                <input asp-for="Aplicacao.Isactive" class="form-control" />
                <span asp-validation-for="Aplicacao.Isactive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
